@import "_responsive.scss";
@import "_testimonials.scss";
@import "_pricing.scss";
@import "_offer.scss";
@import "_about.scss";
@import "_gallery.scss";
@import "_contact.scss";
@import "_tabs.scss";
@import "forms.scss";
@import "_shop.scss";
@import "_basket.scss";

header {
    .firstheader {
        background-color: #FAFAFA;

        .firsttitle {
            padding: 0.8rem 0;

            .left {
                .logo {
                    width: 4%;

                    img {
                        width: 100%;
                    }
                }

                nav {
                    a {
                        text-decoration: none;
                        font-size: 12px;
                        font-family: regular;
                        color: #323232;
                        margin-right: 1rem;
                    }
                }
            }

            .right {
                .menu {
                    margin-right: 0.8rem;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        font-family: regular;
                        color: #323232;
                        padding: 10px 20px;
                        background-color: #FFFFFF;
                        border-radius: 5px;
                        box-shadow: 0 2px 14px -10px rgba(0, 0, 0, 0.3);
                    }
                }

                .theme {
                    margin-right: 0.8rem;

                    i {
                        font-size: 16px;
                        padding: 8px 10px 9px 10px;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                    .night {
                        color: #FFFFFF;
                        background-color: #323232;
                    }

                    .morning {
                        color: #323232;
                        background-color: #FFFFFF;
                    }
                }

                .lang {
                    margin-right: 0.8rem;

                    a {
                        text-decoration: none;
                        font-size: 12px;
                        font-family: bold;
                        color: #323232;
                        background-color: #FFFFFF;
                        padding: 10px;
                        margin-right: 5px;
                        border-radius: 5px;
                        box-shadow: 0 2px 14px -10px rgba(0, 0, 0, 0.3);
                    }
                }

                .search {
                    span {
                        i {
                            font-size: 16px;
                            color: #323232;
                            padding: 8px 10px 9px 10px;
                            border-radius: 5px;
                            background-color: #FFFFFF;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .secondheader {
        padding: 1.4rem 0;

        .secondtitle {
            nav {
                a {
                    text-decoration: none;
                    font-size: 18px;
                    font-family: bold;
                    color: #000000;
                    margin-right: 1rem;
                }
            }

            .connection {
                .creditcard {
                    margin-right: 1.5rem;

                    a {
                        text-decoration: none;
                        position: relative;

                        i {
                            font-size: 30px;
                            color: #FF6400;
                        }

                        span {
                            font-size: 12px;
                            font-weight: 900;
                            color: #FFFFFF;
                            padding: 0 3px;
                            background-color: red;
                            border-radius: 20px;
                            position: absolute;
                            top: -110%;
                            left: 105%;
                        }
                    }
                }

                .phone {
                    margin-right: 1rem;

                    a {
                        text-decoration: none;
                        padding: 10px 20px;
                        border: 1px solid #F5F5F6;
                        border-radius: 25px;

                        i {
                            font-size: 18px;
                            color: #FF6400;
                        }

                        span {
                            font-size: 14px;
                            font-weight: bold;
                            font-family: arial;
                            color: #000000;
                        }
                    }
                }

                .banking {
                    a {
                        text-decoration: none;
                        border: 1px solid #F5F5F6;
                        padding: 10px 20px;
                        border-radius: 25px;

                        i {
                            color: #FF6400;
                            font-size: 20px;
                            margin-right: 5px;
                        }

                        span {
                            color: #000000;
                            font-size: 14px;
                            font-family: bold;
                        }
                    }
                }
            }
        }
    }

    .searchdiv {
        position: absolute;
        top: 9%;
        width: 100%;
        height: 240px;
        background-color: #FFFFFF;
        z-index: 1 !important;

        .close {
            position: absolute;
            margin-top: 2rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 24px;
            color: #323232;
            cursor: pointer;
        }

        p {
            position: absolute;
            margin-top: 5.5rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 22px;
            font-family: regular;
            color: #000000;
        }

        form {
            display: inline-block;
            width: 48%;
            position: absolute;
            margin-top: 9rem;
            left: 50%;
            transform: translateX(-50%);
            padding-bottom: 3rem;

            input {
                border: 1px solid rgba(0, 0, 0, .3);
                outline-style: none;
                font-size: 14px;
                color: rgba(0, 0, 0, .3);
                font-family: bold;
                padding: 0.7rem 0;
            }
        }

        .loop {
            position: absolute;
            margin-top: 9.8rem;
            left: 71%;
            font-size: 16px;
            color: #FF6400;
            cursor: pointer;
        }

        .searchextension {
            position: absolute;
            width: 100%;
            height: 240px;
            top: 240px;
            background-color: #FFFFFF;
            z-index: 1 !important;

            p {
                position: absolute;
                margin-top: 2rem;

                span {
                    font-size: 16px;
                    color: #000000;
                    font-family: regular;
                    position: relative;
                    margin-right: 9rem;

                    &::before {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 200px;
                        bottom: -30%;
                        background-color: #FF6400;
                    }
                }
            }

            a {
                text-decoration: none;
                font-size: 14px;
                color: #969696;
                font-family: bold;
                padding: 16px 25px;
                border: 1px solid rgba(0, 0, 0, .1);
                border-radius: 25px;
                position: absolute;
                margin-top: 8rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}


.tab {
    color: #ffd33b !important;
}

.table .tbody td input {
    // padding: 10px;
    text-align: center;
    width: 60%;
    cursor: pointer;
    font-size: 30px !important;
    border: none;
    border-radius: 10px;
    border: 3px solid #ffd33b;
    color: #ffd33b;
    font-weight: 500;


}

.table .tbody td input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    background-color: #ffd33b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.links {
    text-decoration: none;
    color: #151515;
}

.links_hover {
    transition: .4s;
    cursor: pointer;

    &:hover {
        color: #ffd33b;

    }
}

header {
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    background-color: #fff;

    .all_header {
        .content_header {
            display: flex;
            justify-content: space-between;
            padding: 30px 0 30px 0;

            .location {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .locate {
                    i {
                        font-size: 30px;
                        color: #ffd33b;
                        margin-right: 13px;
                    }
                }

                .adress {
                    p {
                        font-size: 13px;
                        color: #151515;
                        letter-spacing: .05em;
                        font-weight: 400;
                        cursor: pointer;
                        @extend .links_hover
                    }
                }
            }
        }

        .logo {
            width: 165px;

            img {
                width: 100%;
            }
        }

        .touch {
            a {
                @extend .links;
                font-weight: bold;
                font-size: 13px;
                letter-spacing: 2px;
                line-height: 2;
                border: 2px solid #ffd33b;
                border-radius: 6px;
                padding: 10px 20px;
                transition: .4s;
                display: inline-block;

                i {
                    font-size: 18px;
                    margin-right: 5px;
                }

                &:hover {
                    color: #fff;
                    background-color: #ffd33b;
                }
            }

            // padding: 11px 0px;

        }
    }
}

.sm_header {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: #fff;

}

.sticky {
    position: fixed;
    top: 20px;
    width: 100%;
}

.all_basket {
    position: relative;
    margin-right: 15px;

    .basket {}

    span {
        position: absolute;
        left: 40px;
        top: -8px;
        font-size: 15px;
        font-weight: bold;
        color: #ffd33b;
    }
}

.bottom_header {
    background-color: #fff;
    width: 100%;

    .content_navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        .pages {
            display: flex;

            button,a {
                @extend .links;
                font-weight: 600;
                font-size: 15px;
                margin-right: 34px;
                border: none;
                background-color: #fff;
            }
            
        }

        .icons {
            .all_basket {
                position: relative;
                margin-right: 15px;
            
                .basket {}
            
                span {
                    position: absolute;
                    left: 40px;
                    top: -8px;
                    font-size: 15px;
                    font-weight: bold;
                    color: #ffd33b;
                }
            }
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
                color: #151515;
                margin-left: 10px;
                font-size: 24px;
                line-height: 30px;
                @extend .links_hover;
            }

        }
    }
}

.sm_navbar {
    position: fixed;
    top: 70px;
    z-index: 1;
    background-color: #fff;
    height: 100%;
    width: 50% !important;

    .content_navbar {
        .home {
            padding: 7px 0;
            transition: .4s;
            padding-left: 20px;

            &:hover {
                background-color: #ffd33b;
                cursor: pointer;
            }

            a {
                @extend .links;
                font-size: 15px;
                // font-weight: 600;
            }

        }

        button {
            font-size: 14px !important;
            line-height: 1.4;
            font-weight: 400 !important;
            letter-spacing: 0.1em;
        }

        .accordion-body {
            padding: 0 !important;
        }

        .accordion-item {
            .accordion-button {
                transition: .4s;

                &:hover {
                    background-color: #ffd33b;
                }
            }

            .nav_links {
                transition: .4s;

                &:hover {
                    background-color: #ffd33b;
                    color: #fff !important;
                }
            }

            a {
                @extend .links;
                display: block !important;
                padding-left: 30px !important;
                font-size: 14 px;
                line-height: 1.4;
                font-weight: 400;
                letter-spacing: .1em;
                text-transform: uppercase;
                padding: 9px 50px 9px 16px;

            }
        }
    }
}

.search { 
    position: absolute;
    width: 100%;
    .content_search {
        .search_cont {
            position: relative;
            input {
                width: 100%;
                padding: 8px 10px;
                background-color: #fff;
                border: none;
                border: 1px solid #ffffff;
                box-shadow: 0 0 5px 0 rgba(1, 3, 4, 0.19);

            }

            input:focus {
                outline: none;
            }

            ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #151515;
                transition: .4s;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: .1em;

            }

            input:focus::-webkit-input-placeholder {
                color: transparent;
            }

            i {
                top: 50%;
                right: 7px;
                transform: translate(-50%, -50%);
                position: absolute;
                font-size: 22px;
                margin-left: 10px;
                line-height: 48px;
                text-align: center;
                cursor: pointer;
                transition: .4s;

                &:hover {
                    color: #ffd33b;
                }
            }
        }
    }
}

.pages_category {
    width: 270px;
    position: absolute;
    z-index: 1;

    top: 25px;
    left: 0px;

    .content_pages {
        padding: 40px 25px;
        background-color: #fff;

        ul {
            list-style: none;
        }

        li {
            margin-bottom: 15px;

        }

        a {
            display: inline-block;
            @extend .links, .links_hover;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            letter-spacing: .1em;
        }
    }
}

.elements_category {
    width: 270px;
    position: absolute;
    z-index: 1;

    top: 20px;
    left: 0px;

    .content_pages {
        padding: 20px 18px;
        background-color: #fff;

        ul {
            list-style: none;
        }

        li {
            margin-bottom: 15px;

        }

        a {
            display: inline-block;
            @extend .links, .links_hover;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            letter-spacing: .1em;
        }
    }
}

.users_category {
    width: 180px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0px;
    right: 10px;

    .content_pages {
        padding: 20px 18px;
        background-color: #fff;

        ul {
            list-style: none;
        }

        li {
            margin-bottom: 15px;
        }

        a {
            display: inline-block;
            @extend .links, .links_hover;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            letter-spacing: .1em;
        }
    }
}

.puffles {
    .all_puffles {
        background-image: url(/assets/photos/home-bg-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        .content_puffles {
            color: #fff;
            padding: 100px 0;

            h1 {
                font-size: 100px;
                font-weight: 700;
            }

            h3 {
                margin-top: 10px;
                font-size: 36px;
                font-weight: 600;
            }

            h4 {
                font-size: 24px;
                margin: 25px 0 38px 0;
                letter-spacing: .1em;
            }

            a {
                @extend .links;
                background-color: #fff;
                font-size: 14px;
                border: 2px solid #fff;
                border-radius: 6px;
                font-weight: 700;
                padding: 20px 50px;
                display: inline-block;
                transition: .5s;

                &:hover {
                    background-color: #E1E1E1;
                    border: 2px solid #E1E1E1;
                }
            }
        }
    }
}

.featured_products {
    margin-bottom: 8rem;
    margin-top: 6rem;

    .all_fetured {
        .content_featured {
            .head_featured {
                margin-bottom: 45px;

                h2 {
                    text-align: center;
                    color: #151515;
                    font-size: 55px;
                    font-weight: 600;
                    letter-spacing: normal;
                }
            }

            .box_featured_content {
                .box_featured {
                    text-align: center;

                    .photo_featured {
                        overflow: hidden;

                        img {
                            width: 100%;
                            transition: .5s;
                            cursor: pointer;

                            &:hover {
                                transform: scale(1.1);

                            }
                        }
                    }

                    .link_featured1 {
                        a {
                            font-size: 24px;
                            color: #151515;
                            @extend .links_hover, .links;
                            font-weight: 600;
                        }

                        margin-bottom: 20px;
                        margin-top: 15px;
                    }

                    .link_featured2 {

                        a {
                            border-bottom: 2px solid #ffd33b;
                            @extend .links;
                            color: #ffd33b;
                            font-size: 14px;
                            line-height: 1.2;
                            font-weight: 700;
                            letter-spacing: .05em;
                            transition: .4s;

                            &:hover {
                                color: #151515;
                                border-bottom: 2px solid #151515;
                            }

                        }
                    }
                }
            }
        }
    }
}

.offer {
    .all_offer {
        background-color: #f7f7f7;
        padding: 40px 0;

        .content_offer {
            .head_offer {
                margin-bottom: 3rem;

                h2 {
                    margin-top: 3rem;
                    text-align: center;
                    color: #151515;
                    font-size: 55px;
                    font-weight: 600;
                    letter-spacing: normal;
                }
            }

            .box_offer_content {
                .box_content {
                    display: flex;

                    .photo_offer {
                        height: 100%;
                        background-color: #ffd33b;
                        border-radius: 50%;
                        width: 70%;
                        height: 90px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            display: inline-block;
                            max-width: 100%;
                            height: auto;
                        }
                    }

                    .text_offer {
                        margin-left: 10px;
                        padding-bottom: 10px;

                        a {
                            font-size: 24px;
                            @extend .links, .links_hover;
                            font-weight: 600;
                        }

                        p {
                            margin-top: 8px;
                            font-size: 14px;
                            color: #777777;
                            letter-spacing: .025em;
                            line-height: 1.6;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

.hurry {
    .all_hurry {
        background-image: url(/assets/photos/bg-cta.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        .content_hurry {
            color: #fff;
            padding: 100px 0;

            h2 {
                font-size: 55px;
                font-weight: 700;
            }

            h4 {
                margin-top: 13px;
                font-size: 24px;

            }

            p {
                font-size: 14px;
                margin-top: 23px;
            }

            a {
                @extend .links;
                margin-top: 15px;
                background-color: #fff;
                font-size: 14px;
                border: 2px solid #fff;
                border-radius: 6px;
                font-weight: 700;
                padding: 20px 50px;
                display: inline-block;
                transition: .5s;

                &:hover {
                    background-color: #E1E1E1;
                    border: 2px solid #E1E1E1;
                }
            }
        }
    }
}

.about {
    margin-top: 30px;
    margin-bottom: 60px;

    .content_about {
        .head_about {
            text-align: center;
            padding: 40px 0;

            h2 {
                font-size: 55px;
                color: #151515;
                font-weight: 600;
                line-height: 1.18182;
            }
        }

        .bottom_about {
            .about_row {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }

            .box_about {
                img {}

                .square {
                    position: relative;
                    width: 45%;
                    height: 330px;
                    border: 15px solid #ffd33b;

                    .box_info {
                        width: 500px;
                        padding: 15px 5px;
                        background-color: #fff;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        left: 310px;

                        a {
                            font-size: 24px;
                            line-height: 1.2;
                            font-weight: 600;
                            letter-spacing: .1em;
                            @extend .links_hover, .links;
                            margin-bottom: 15px;
                            display: inline-block;

                        }

                        p {
                            font-size: 14px;
                            line-height: 1.6;
                            font-weight: 400;
                            letter-spacing: .03em;
                        }
                    }
                }

                .tab {
                    background-color: #f7f7f7;

                    .number {
                        position: relative;

                        h1 {
                            font-size: 100px;
                            color: #E1E1E1;
                            font-weight: 300;
                            transition: .4s;
                            cursor: pointer;

                            &:hover {
                                color: #F9F0D2;
                            }
                        }

                        a {
                            font-size: 12px;
                            line-height: 1.2;
                            font-weight: 600;
                            letter-spacing: .1em;
                            @extend .links, .links_hover;
                            position: absolute;
                            top: 50%;
                            left: 95px;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}

.digit_color {
    background-color: #ffd33b !important;
}

.swiper-pagination {
    :host {
        --swiper-theme-color: #fff;
    }
}

.sm_organic {
    display: none;
}

.mySwiper {
    display: none;
    background-color: #f7f7f7;

    swiper-slide {

        background-color: #f7f7f7;
    }

    .head_team {
        h2 {
            font-size: 55px;
            color: #151515;
            font-weight: 600;
        }
    }

    .box_team {
        padding: 40px 0;
    }

    .img_team {
        img {
            margin: 0 auto;
            border: 15px solid #fff;
            border-radius: 150px;
            cursor: pointer;
            width: 200px;
        }
    }

    .text_team {

        a {
            font-size: 18px;
            @extend .links, .links_hover;
            line-height: 1.5;
            font-weight: 600;
            display: inline-block;
            margin-top: 20px;

        }

        p {
            font-size: 12px;
            color: #777777;
            line-height: 1.6;
            font-weight: 400;
            letter-spacing: .03em;
            padding: 0 20px;
            margin-top: 10px;
        }

        .icons_team {
            i {
                font-size: 18px;
                color: #151515;
                margin-right: 10px;
                line-height: 1.6;
                font-weight: 600;
                letter-spacing: .03em;
                @extend .links_hover;
            }
        }
    }
}

.mySwiper672 {
    display: none;
    background-color: #f7f7f7;
    swiper-slide {

        background-color: #f7f7f7;
    }

    .head_team {
        h2 {
            font-size: 55px;
            color: #151515;
            font-weight: 600;
        }
    }

    .box_team {
        padding: 40px 0;
    }

    .img_team {
        img {
            margin: 0 auto;
            border: 15px solid #fff;
            border-radius: 150px;
            cursor: pointer;
            width: 200px;
        }
    }

    .text_team {

        a {
            font-size: 18px;
            @extend .links, .links_hover;
            line-height: 1.5;
            font-weight: 600;
            display: inline-block;
            margin-top: 20px;

        }

        p {
            font-size: 12px;
            color: #777777;
            line-height: 1.6;
            font-weight: 400;
            letter-spacing: .03em;
            padding: 0 20px;
            margin-top: 10px;
        }

        .icons_team {
            i {
                font-size: 18px;
                color: #151515;
                margin-right: 10px;
                line-height: 1.6;
                font-weight: 600;
                letter-spacing: .03em;
                @extend .links_hover;
            }
        }
    }
}

.team {
    background-color: #f7f7f7;
    margin-top: 7rem;

    .content_team {
        padding: 6rem 0;

        .head_team {
            h2 {
                font-size: 55px;
                color: #151515;
                font-weight: 600;
            }
        }

        .bottom_team {
            padding: 30px 0;

            .img_team {
                img {
                    border: 15px solid #fff !important;
                    border-radius: 150px !important;
                    cursor: pointer;
                }
            }

            .text_team {

                a {
                    font-size: 24px;
                    @extend .links, .links_hover;
                    line-height: 1.5;
                    font-weight: 600;
                    display: inline-block;
                    margin-top: 20px;

                }

                p {
                    font-size: 15px;
                    color: #777777;
                    line-height: 1.6;
                    font-weight: 400;
                    letter-spacing: .03em;
                    padding: 0 20px;
                    margin-top: 10px;
                }

                .icons_team {
                    i {
                        font-size: 17px;
                        color: #151515;
                        margin-right: 10px;
                        line-height: 1.6;
                        font-weight: 600;
                        letter-spacing: .03em;
                        @extend .links_hover;
                    }
                }
            }
        }
    }
}

.treats {
    background-image: url(/assets/photos/bg-cta-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .content_treats {
        padding: 9rem 0;

        .text_treats {
            color: #151515;

            h2 {
                font-size: 55px;
                font-weight: 600;
            }

            h4 {
                font-size: 24px;
                font-weight: 600;
                line-height: 1.5;
            }

            a {
                @extend .links;
                margin-top: 15px;
                color: #fff;
                background-color: #ffd33b;
                font-size: 14px;
                border: 2px solid #ffd33b;
                border-radius: 6px;
                font-weight: 700;
                padding: 22px 65px;
                display: inline-block;
                transition: .5s;

                &:hover {
                    background-color: #151515;
                    border: 2px solid #151515;
                    color: #fff;
                }
            }
        }
    }
}

.client {
    .content_client {
        .head_client {
            h2 {
                color: #151515;
                font-size: 55px;
                font-weight: 600;
            }
        }

        margin-bottom: 10rem;

        .box_client {
            .img_client {
                margin-right: 25px;

            }

            .text_client {
                p {
                    font-size: 18px;
                    color: #777777;
                    padding-right: 85px;
                    line-height: 1.45;
                    font-weight: 400;
                    letter-spacing: .02em;
                }
            }
        }

        .user {
            padding: 30px 3.6rem;
            border-top: 1px solid #e1e1e1;

            img {
                width: 80px;
                border-radius: 150px;
            }

            .text_user {
                margin-left: 20px;

                // margin-top: 20px;
                span {
                    font-size: 15px;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: .05em;
                    text-transform: uppercase;
                }

                p {
                    margin-top: 5px;
                    font-style: italic;
                    letter-spacing: .025em;
                    color: #ffd33b;
                    font-size: 15px;
                    line-height: 1.6;
                    font-weight: 500;
                }
            }
        }
    }
}

.box_client {
    .img_client {
        margin-right: 25px;

    }

    .text_client {
        p {
            font-size: 18px;
            color: #777777;
            padding-right: 85px;
            line-height: 1.45;
            font-weight: 400;
            letter-spacing: .02em;
        }
    }
}

.user {
    padding: 30px 3.6rem;
    border-top: 1px solid #e1e1e1;

    img {
        width: 80px;
        border-radius: 150px;
    }

    .text_user {
        margin-left: 20px;

        // margin-top: 20px;
        span {
            font-size: 15px;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: .05em;
            text-transform: uppercase;
        }

        p {
            margin-top: 5px;
            font-style: italic;
            letter-spacing: .025em;
            color: #ffd33b;
            font-size: 15px;
            line-height: 1.6;
            font-weight: 500;
        }
    }
}

.news {
    padding: 6rem 0;
    background-color: #f7f7f7;

    .box_news,
    .box_news1 {
        overflow: hidden;
    }

    img {
        transition: .5s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    .content_news {
        .head_news {
            h2 {
                font-size: 55px;
                font-weight: 600;
                color: #151515;
            }
        }

        .imgs_news {
            padding: 2.8rem 0;

            .box_news_bottom {
                overflow: hidden;

                img {
                    margin-right: 30px;
                }

                .text_news {
                    padding: 40px 0;

                    p {
                        font-size: 15px;
                        color: #777777;
                        line-height: 1.6;
                        font-weight: 400;
                        letter-spacing: .03em;
                    }

                    a {
                        font-size: 24px;
                        font-weight: 400;
                        letter-spacing: .05em;
                        color: #151515;
                        line-height: 1.5;
                        @extend .links, .links_hover;
                    }
                }
            }
        }
    }
}

.organic {
    background-color: #ffd33b;
    padding: 7rem 0;

    .content_organic {
        padding: 0 3rem;

        img {
            cursor: pointer;
            margin-right: 40px;
        }
    }
}

footer {
    padding: 6.7rem 0;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;

    .content_footer {

        .box_footer {
            .head_footer {
                margin-bottom: 35px;

                h5 {
                    font-size: 18px;
                    color: #151515;
                    letter-spacing: .2em;
                    line-height: 1.1;
                    font-weight: 600;
                }
            }

            .imgs_footer {
                .col-lg-4 {
                    overflow: hidden;
                }

                img {
                    width: 100%;
                    transition: .5s;
                    cursor: pointer;

                    &:hover {
                        transform: scale(.9);
                    }
                }
            }
        }

        .links_footer {
            a {
                display: block;
                @extend .links, .links_hover;
                padding: 3px 0;
                font-size: 15px;
                line-height: 1.6;
                font-weight: 400;
                letter-spacing: .03em;

                &:hover {
                    padding-left: 20px;
                }
            }

            i {
                color: #ffd33b;
                margin-right: 23px;
                margin-top: 8px;
            }

            .icons_footer {
                display: flex;
                margin-bottom: 10px;
            }

            .social {
                i {
                    color: #575757;
                    text-align: center;
                    vertical-align: middle;
                    width: 41px;
                    height: 41px;
                    font-size: 18px;
                    line-height: 39px;
                    border: 1px solid;
                    border-radius: 100px;
                    @extend .links_hover;
                }
            }

        }
    }
}

.end {
    border-top: 1px solid #e1e1e1;
    background-color: #fff;

    p {
        padding: 30px 0;
        font-size: 15px;
        color: #777777;
        text-align: center;
        line-height: 1.6;
        font-weight: 400;
    }
}

.fixed_header {
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 10px 15px rgba(25, 25, 25, 0.270);
}

.organic_768,.xs_organic{
    display: none;
}

.pages_category_position,
.elements_category_position, .users_category_position {
    position: relative;
}